@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
    width: auto;
	background-color: #750D0D;

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
    width: auto;


}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}

input[type=submit] {
  background-color: #310000;
  color: white;
  padding: 12px 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  resize: vertical;
}

input[type=submit]:hover {
  background-color: #450000;
}
	
input[type=submit]:active {
  background-color: #560101;
}

.container {
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  background-color: #5B100B;
}

#register {
	display: flex;
	justify-content: center;
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 15px;
}
	
input[type=date], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  cursor: pointer
}

p{
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
	}

	@media (min-width: 600px) {
		input[type=submit],  textarea  {
  background-color: #310000;
  color: white;
  padding: 12px 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  resize: vertical;
  width: 20%;
}

		
	}
